<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Onboarding</title>
</head>

<body class="bg-dark text-white">
    <header>
        <nav class="navbar navbar-light bg light">
            <a href="/sistema/home"><span class="navbar-brand mb-o h1 text-white" style="font-weight: bold;">Onboarding</span></a>
            <a class="btn btn-primary" href="/sistema/cadastraros">Cadastrar Onboarding</a>
        </nav>   
       </header>
       <nav aria-label="breadcrumb">
           <ol class="breadcrumb bg-dark text-white" padding-left="0px;">
               <li class="breadcrumb-item active" aria-current="page">Inicio / Busca de Onboarding</li>
           </ol>
       </nav>
    <div class="container">
        <h1>Busca de Onboarding</h1>
        <form action="/sistema/buscaros" method="POST">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="nome">Numero Onboarding</label>
                <div class="col-sm-5">
                    <input id="numeroOs" name="numeroOs" type="text" placeholder="Ex: 1" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
            
        </form>





        <div th:if="${lista.size() > 0}">
            <h2>Lista de Ordens de Serviço Cadastradas</h2>
            <div class="row m-1" th:each="ordemservico : ${lista}">
                <div class="col-6">
                    <a th:href="@{/sistema/buscaros/{id}(id=${ordemservico.id})}" th:text="${'Número OS: ' + ordemservico.id + ' Nome do funcionário: ' + ordemservico.nomeFuncionario}"></a>

                </div>
                <div class="col-2">
                    <a class="btn btn-success btn-sm" th:href="@{/sistema/mostraros/{id}(id=${ordemservico.id})}">Detalhes</a>
                </div>
                <div class="col-2">
                    <a class="btn btn-warning btn-sm" th:href="@{/sistema/editaros/{id}(id=${ordemservico.id})}">Editar</a>
                </div>
            </div>
        </div>

        <a class="btn btn-primary" href="/sistema/cadastraros">Cadastrar Onboarding</a>
    </div>






    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>